{% extends "layout.html" %}

{% block body %}
<h2>Edit Entry</h2>

<form action="/update_entry/{{ entry.id }}" method="post">

    <input type="hidden" name="type" value="{{ entry.type.name.lower() }}">

    <h2>Edit {{ entry.type.name.lower() }}</h2>

    {% for field, value in entry.fields.items() %}

        <div>
            <label>{{ field.lower().capitalize() }}:</label>
            <input type="text" name="{{ field }}" value="{{ value }}" {{ "required" if field in entry.type.get_metadata().required_fields }}>
        </div>

    {% endfor %}

    <button type="submit">Save</button>
    <a href="/">Cancel</a>

</form>
{% endblock %}