{% extends "layout.html" %}

{% block title %}
Bibliography App
{% endblock %}

{% block body %}

<h2>Bibliography App</h2>

<div>
  <a href="/new_entry">Add entry</a>
</div>

<div class="entries-container">
  {% for entry in entries_dict %}
  <div class="entry-card">
    {% for key, value in entry.items() %}
      {% if value and key != 'id' %}
        <p><strong>{{ key|capitalize }}:</strong> {{ value }}</p>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <p>No entries found</p>
  {% endfor %}
</div>

{% endblock %}