{% extends "layout.html" %}

{% block title %}
Select Entry Type
{% endblock %}

{% block body %}

<h2>Select Entry Type</h2>

{% if error %}
  <p style="color: red; font-weight: bold;">
    {{ error }}
  </p>
{% endif %}


<body>
    <form action="/add_entry_form" method="get">

        <p>
            <label for="doi">Fill from DOI:</label><br>
            <input type="text" name="doi" id="doi" placeholder="DOI Number or URL">
        </p>

        {% for type in types %}
            {% set type_id = type.name.lower() %}

            <input type="radio" name="type" value="{{ type_id }}" id="{{ type_id }}"  {{ 'checked' if loop.first }}>
            <label for="{{ type_id }}">{{ type.name.lower().capitalize() }}</label><br>
        {% endfor %}

        <p>
            <button type="submit">Next</button>
        </p>

    </form>
</body>

{% endblock %}