{% extends "layout.html" %}

{% block title %}
Select Entry Type
{% endblock %}

{% block body %}

<h2>Select Entry Type</h2>

<body>
    <form action="/add_entry_form" method="get">
        <input type="radio" name="type" value="book" id="book" checked>
        <label for="book">Book</label><br>
        <input type="radio" name="type" value="article" id="article">
        <label for="article">Article</label><br>
        <input type="radio" name="type" value="misc" id="misc">
        <label for="misc">Misc</label><br>
        <p>
            <button type="submit">Next</button>
        </p>
    </form>
</body>

{% endblock %}