body {
    font-family: Arial, sans-serif;
    background-color: #73956f;
    margin: 0;
}

.top-bar {
    background-color: #454851;
    padding: 20px;
    width: 100%;
    height: 40px;
    color: white;
    bottom: 0;
}

.main-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container-actions {
    background: #b2c6b3;
    border: solid 1px #454851;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button-container {
    background: #b2c6b3;
    border: solid 1px #454851;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.menu-container {
    background: #b2c6b3;
    border: solid 1px #454851;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px;
}

.form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.form-row-container {
    display: flex;
    gap: 10px
}

.form-fields-container > div {
    display: flex;
    gap: 5px;
}

.form-fields-container > div :first-child {
    width: 100px;
    text-align: end;
}

.general-button {
    display: block;
    background: #ffffff;
    color: black;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;   
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.general-button:hover{
    background: #29d66b;
    transition: background-color 0.25s ease-out;
}

.general-button:active{
    transform: translateY(1.5px);
}

.site__submit {
    display: flex;
    flex-direction: row;
    background: white;
    width: 70%;
    height: 20%;
    border: #454851;
    padding: 10px;
    position: relative;
}

.search-input {
    width: 100%;
    flex-grow: 2;
    border: none;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background: #95D7AE;
    border: #95D7AE;
    width: 30%;
    height: 100%;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 0%;
}

.search-button:hover {
    background: #29d66b;
    transition: background-color 0.25 ease-out;
}

.entries-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.entry-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.entry-card-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.entry-card-selector input[type="checkbox"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
}

.entry-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.entry-card p {
    margin: 5px 0;
}

.entry-content{
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alert {
    color: red;
}